
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>My Profile</h3>
            <ul class="nav">
                <li class="nav-item">
                    <a routerLink="/myprofile/account" class="nav-link">My Account &nbsp;&nbsp;
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/myprofile/myfavourite" class="nav-link"> Favourites &nbsp;&nbsp;
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>