<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <h5>My Favourite</h5>
            <hr>

            <div class="card-body">
                <div class="row row-cols-1 row-cols-xl-3">
                  <div class="col mb-4" *ngFor="let ad of filteredAdDetails">
                      <div class="card">
                        <a *ngIf="filteredAdDetails.length > 0" href="/ad/{{ad.adId}}">
                        <img src="{{ad.url}}" class="card-img-top" alt="profile image">
                        <div class="card-body">
                          <h5 class="card-title"><strong> {{ad.adTitle}} </strong></h5>
                          <p class="category">{{ad.destination}} <br> {{ad.categoryType}} </p>
                          <hr>
                          <div class="stats">
                            <h5 style="color: #393E46;"> Price: Rs. {{ad.price | number}}.00</h5>
                          </div>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </a>
                      <button class="btn btndelete btn-block" type="button">Delete</button>
                      </div>
                  </div>
                </div>
              </div>
            
        </div>
    </div>
</div>