.navbar-brand {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 30px;
}
.navbar {
    background-color: #393E46;
    display: flex;
}
.navbar-dark .nav-item .nav-link{
    color: #FFFFFF;
}

.btnsubmit{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    background-color:transparent; 
    margin-right: 3.5rem;
}

.btnsubmit:hover{
    border: 1px solid #00ADB5;
    background-color: #00ADB5;
    color:#FFFFFF;
}

.btndrop{
    border: 0;
    color: #FFFFFF;
    background-color: transparent;
}

.btndrop:hover{
    border: 0;
    list-style: none;
    text-decoration: none;
}

.btndrop:active{
    border: 0;
}
.dropdown{
    width: 18%;
}
.dropdown-menu{
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
}

.button{
    border: 1px solid #00ADB5;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #00ADB5;
}
.button:hover{
    border: 1px solid #00ADB5;
    background-color: #FFFFFF;
    color:#00ADB5;
}

.btnchange{
    border: 1px solid #D65A31;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #D65A31;
}
.btnchange:hover{
    border: 1px solid #D65A31;
    background-color: #FFFFFF;
    color:#D65A31;
}
.fa-user{
    color: #00ADB5;
}
