
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Online Vehicle Dealers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">All Ads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="postad">Post Your Add</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Colombo</a>
            <a class="dropdown-item" href="#">Gampaha</a>
            <a class="dropdown-item" href="#">Kaluthara</a>
            <a class="dropdown-item" href="#">Galle</a>
            <a class="dropdown-item" href="#">Matara</a>
            <a class="dropdown-item" href="#">Kandy</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control searchbar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btnSearch" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
        <div>&nbsp;&nbsp;&nbsp;</div>
      <button class="btn my-2 my-sm-0" type="submit"  routerLink="/login">Login</button>
    </div>
</nav>
  
