.navbar-brand {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 30px;
}
.navbar {
    background-color: #08979D;
    display: flex;
}
.navbar-dark{
    color: #FFFFFF;
}

.btn{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
}

.btn:hover{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color:#08979D;
}
