.container-fluid{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #EEEEEE 100%);
}

.card{
    border-radius: 10px;
    border: none;
}

.imageslider{
    background-color: #FFFFFF;
    border-radius: 10px;
}

.cmnt-container {
 font-family: 'Catamaran', sans-serif;;
}

.cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
}

.btn{
    border: 1px solid #393E46;
    color: #393E46;
    border-radius: 12px;
    margin: 5px;
    padding: 8px 10px;
}
.btn:hover{
    border: 1px solid #393E46;
    background-color: #393E46;
    color:#FFFFFF;
}

.comment{
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}
.comment .comment-avatar{
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    height: 80px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 80px;
}
.comment .comment-avatar i{
    padding-left: 17px;
    padding-top: 15px;
    height: 80px;
    width: 80px;
}
.comment .comment-box{
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    margin-left: 100px;
    min-height: 60px;
    position: relative;
    padding: 15px;
}
.comment .comment-box:before,
.comment .comment-box:after{
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    content: "";
    left: -10px;
    position: absolute;
    top: 20px;
}
  
.comment .comment-box:before{
    border-color: transparent rgba(0, 0, 0, .05);
     top: 22px;
}
  
.comment .comment-text{
    color: #393E46;
    font-size: 15px;
    margin-bottom: 25px;
}
  
.comment .comment-footer{
    color: #acb4c2;
    font-size: 13px;
}
  
.comment .comment-footer:after{
    content: "";
    display: table;
    clear: both;
}
.comment .comment-info{
    float: left;
    width: 85%;
}
.comment .comment-date:before{
    content: "|";
    margin: 0 10px;
}
agm-map {
    height: 300px;
}
.priceholder{
    background-color: #D65A31;
    padding: 10px;
    text-align: center;
    color: #FAF5E4;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.price{
    margin: 0;
}

.btnreport{
    border: 1px solid #D65A31;
    background-color: #D65A31;
    color:#FFFFFF;
    border-radius: 12px;
    margin: 0;
    padding: 8px 10px;
}
.btnreport:hover{
    border: 1px solid #D65A31;
    color: #D65A31;
    background-color: transparent;
}
.card-title{
    color:#393E46;
}
.rating > span:hover:before {
    content: "\2605";
    position: absolute;
 }
 .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }