<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <ng-image-slider [images]="imageObject" #nav class="imageslider"></ng-image-slider>
        </div> 
    </div>
    
    <!-- <div class="col">
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider> 
            <h1>{{advertisment.categoryType}}</h1>
    </div> -->
   
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Vehicle Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Category: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.categoryType}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Brand: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.brandType}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Model: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.ModelType}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Edition: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Edition}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Model Year: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Grade}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Condition: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Condition}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Fuel Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.FuelType}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Transmission: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Transmission}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Body Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.BodyType}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Milage: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Milage}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Engine Capacity: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Capacity}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Location: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Destination}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <button class="btn btnreport btn-block" type="button">Report Adveritistment</button>
                        </div><!-- Col -->
                    </div><!-- Row -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Adveritistment Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Price}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Description: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.FkUserId}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Name}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="title">Contact Number: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{advertisment.Contactno}}</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="sub-title">Rate Advetiser</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <br>
                    <div class="row">          
                        <div class="col-sm-12">
                            <label class="sub-title">Google Map</label>
                        </div><!-- Col -->
                    </div><!-- Row -->
                    <div class="row">          
                        <div class="col-sm-12">
                            <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
                                <agm-marker *ngIf="locationChosen" [latitude]="latitude" [longitude]="longitude"></agm-marker>
                            </agm-map>
                        </div><!-- Col -->
                    </div><!-- Row -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Comments</h5>
                </div>
                 <div class="card-body">
                    <div class="container pb-cmnt-container">
                        <div class="row">
                            <div class="col-sm-12 col-md-offset-3">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                                        <form class="form-inline">
                                            <button class="btn" type="button">Post Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>