.container-fluid{
    padding:20px;
    background-color:#F2F6F5;
}
.card{
    border-radius: 15px;

}
.card-header{
    background-color:#F2F6F5;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card-title, .title{
    color:#110133;
}
.btn{
    border: 1px solid #08979D;
    color: #FFFFFF;
    border-radius: 16px;
    background-color: #08979D;
    margin: 5px;
    padding: 15px;
}