.container-fluid{
    padding:20px;
    background-color:#F2F6F5;
}
.card{
    border-radius: 15px;

}
.card-header{
    background: #6EC6CA;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card-title, .title{
    color:#110133;
}
.button{
    border: 1px solid #6EC6CA;
    color: #08979D;
    border-radius: 16px;
    margin: 5px;
    padding: 8px 10px;
}
.button:hover{
    border: 1px solid #6EC6CA;
    background-color: #6EC6CA;
    color:#FFFFFF;
}

.btn-outline-secondary{
    border: 1px solid #6EC6CA;
    color: #6EC6CA;
}
.btn-outline-secondary:hover{
    border: 1px solid #6EC6CA;
    background-color: #6EC6CA;
    color:#FFFFFF;
}

agm-map {
    height: 300px;
}

.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}
.option-input {
    appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    background: #cbd1d8;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #110133;
  }
  .option-input:checked::before {
    height: 15px;
    width: 15px;
    position: absolute;
    display: inline-block;
    line-height: 50px;
  }
  .option-input:checked::after {
    background: #110133;
    display: block;
    position: relative;
    z-index: 100;
  }