<div class="container-fluid">  
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Vehicle Details</h3>
      </div>
      <div class="card-body">
        <!-- <form> -->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Category">Category</label>
                <select class="form-control browser-default custom-select" [(ngModel)]="CreateadModel.CategoryId" (ngModelChange)="getSubCategoriesAndBrands(CreateadModel.CategoryId)">
                    <option value=""  selected="selected" >Please Select a Category</option> 
                    <option [selected]="category.Name=='Select name'" 
                    [disabled]="category.name=='Select name'"
                     *ngFor="let category of categoryData" value={{category.id}}>{{category.name}}</option>
                </select>
              </div>
            </div><!-- Col -->
  
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <select id="brand" class="form-control browser-default custom-select" [(ngModel)]="CreateadModel.BrandId">
                        <option value="1">Please Select a Brand</option>
                        <option value="2" *ngFor="let brand of brandData" value={{brand.id}}>{{brand.name}}</option>
                    </select>
                </div>
            </div><!-- Col -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="brand">Model</label>
                    <select id="brand" class="form-control browser-default custom-select">
                        <option value="1">Civic</option>
                        <option value="2">Corolla</option>
                        <option value="3">CR-V</option>
                        <option value="4">X-Trail</option>
                        <option value="5">E-Class</option>
                        <option value="6">A4</option>
                        <option value="7">Swift</option>
                        <option value="8">Alto</option>
                    </select>
                </div>
            </div>
          </div><!-- Row -->

          <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="trim">Trim/Edition</label>
                    <input type="text" class="form-control" name="trim" id="trim" required>
                </div>
              </div><!-- Col -->
              
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input type="text" class="form-control" name="grade" id="grade" required>   
                </div>
            </div><!-- Col -->
  
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="modelYear">Model Year</label>
                    <input type="text" class="form-control" name="modelYear" id="modelYear" required> 
                </div>
            </div><!-- Col -->
          </div><!-- Row -->
  
          <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="uploadPhotos">Upload Photos</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                        </div>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </div>
                </div>
            </div><!-- Col -->
  
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name-l">Conditions</label>
                    <div class="form-check" style="padding-top: 5px;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Brand New</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Used</label>
                        </div>
                    </div>
                </div>
            </div><!-- Col -->

            <div class="col-sm-4">
                <div class="form-group" style="padding-top: 25px;">
                    <input type="checkbox" class="form-check d-inline" id="nego" required>
                    <label for="nego" class="form-check-label">&nbsp;Negotiable</label>
                </div>
            </div><!-- Col -->
          </div><!-- Row -->

          <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="transmission">Transmission</label>
                    <input type="text" class="form-control" name="transmission" id="transmission" required>   
                </div>
            </div><!-- Col -->
  
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="bodyType">Body Type</label>
                    <input type="text" class="form-control" name="bodyType" id="bodyType"  required>
                </div>
            </div><!-- Col -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="fuel">Fuel Type</label>
                    <select id="fuel" class="form-control browser-default custom-select">
                        <option value="1">Petrol</option>
                        <option value="2">Diesel</option>
                        <option value="3">Hybrid</option>
                        <option value="4">Full Electic</option>
                    </select>
                </div>
              </div><!-- Col -->
          </div><!-- Row -->

          <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="capacity">Engine Capacity</label>
                    <input type="text" class="form-control" name="capacity" id="capacity" required>
                </div>
            </div><!-- Col -->
  
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="milage">Milage</label>
                    <input type="text" class="form-control" name="milage" id="milage" required>
                </div>
            </div><!-- Col -->

            <div class="col-sm-4">
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" class="form-control" name="price" id="price" required>
                </div>
              </div><!-- Col -->
          </div><!-- Row -->
        <!-- </form> -->
      </div>
    </div>

    <br>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Advertistment Details</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" [(ngModel)] ="CreateadModel.AdTitle" required>
                </div>
            </div><!-- Col -->
  
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Loction">Location</label>
                <select class="form-control custom-select browser-default">
                    <option value="1">Colombo</option>
                    <option value="2">Kaluthara</option>
                    <option value="3">Gampaha</option>
                    <option value="4">Galle</option>
                    <option value="5">Matara</option>
                    <option value="6">Hambanthota</option>
                    <option value="7">Kandy</option>
                    <option value="8">NuwaraEliya</option>
                    <option value="9">Matale</option>
                    <option value="10">Jaffna</option>
                    <option value="11">Anuradhapura</option>
                    <option value="12">Polonnaruwa</option>
                    <option value="13">Trincomalee</option>
                    <option value="14">Ampara</option>
                    <option value="15">Mulathuv</option>
                    <option value="16">Kegalle</option>
                    <option value="17">Kurunegala</option>
                    <option value="18">Puttalam</option>
                    <option value="20">Mannar</option>
                    <option value="21">Badulla</option>
                    <option value="22">Mahiyanganaya</option>
                    <option value="23">Vavunia</option>
                    <option value="24">Rathnapura</option>
                    <option value="25">Kilinochchi</option>
                </select>
              </div>
            </div><!-- Col -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control" name="desc" id="desc" required>
                </div>
              </div><!-- Col -->
          </div><!-- Row -->
        </form>
      </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Person Details</h3>
        </div>
        <div class="card-body">
            <form>    
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                  </div><!-- Col -->
        
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                  </div><!-- Col -->
        
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="contactNo">Contact No</label>
                      <input type="text" class="form-control" name="contactNo" id="contactNo" required>
                    </div>
                  </div><!-- Col -->
                </div><!-- Row -->
            </form>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Google Map</h3>
        </div>
        <div class="card-body">
          <!-- <agm-map [latitude]="lat" [longitude]="lng"></agm-map> -->
          <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
            <agm-marker *ngIf="locationChosen" [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-right">
                <button type="button" class="btn reset button">Reset</button>
                <button type="button" class="btn submit button" >Post Your Ad</button>
              </div>
            </div>
          </div>
        </div><!-- Panel Footer -->
      </div>
  </div>