<div class="body">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form  #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
				<h1>Sign in</h1>
				<input placeholder="UserName"  class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
				<input  placeholder="Password"  type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
				<a href="#">Forgot your password?</a>
				<!-- <button>Sign In</button> -->
				<button type="submit"  [disabled]="form.invalid">Login</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<a routerLink="/Signup">
						<button class="ghost" id="signUp" > 
							Sign Up
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

