<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <nav class="navbar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link">
              <span class="menu-title"> Location </span>
            </a>
            <div id="location">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="." (click)="getAdvertisementFiltered(null, null, null, null)">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;Select All
                  </a>
                </li>
                <li class="nav-item other" *ngFor="let location of locationData">
                  <a class="nav-link" routerLink="." (click)="getAdvertisementFiltered(location.id, null, null, null)">
                    &nbsp;&nbsp;{{location.name}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a  class="nav-link">
              <span class="menu-title"> Category </span>
            </a>
            <div id="category">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="." (click)="getAdvertisementFiltered(null, null, null, null)">
                    <i class="fa fa-car" aria-hidden="true"></i> &nbsp;&nbsp;Select All
                  </a>
                </li>
                <li class="nav-item other" *ngFor="let cat of categoryData">
                  <a class="nav-link" routerLink="." (click)="getAdvertisementFiltered(null, cat.id, null, null)">
                    &nbsp;&nbsp;{{cat.name}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <span class="menu-title"> Price </span>
            </a>
            <div id="price">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control price" placeholder="Min Price"
                      aria-label="Sizing example input" [(ngModel)]="minPrice" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </li>
                <li class="nav-item">
                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control price" placeholder="Max Price"
                      aria-label="Sizing example input" [(ngModel)]="maxPrice" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </li>
                <button type="button" class="btn btn-sm btngo"
                  (click)="getAdvertisementFiltered(null, null, minPrice, maxPrice)">Go</button>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-10">
      <div class="row">
        &nbsp;&nbsp;
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input class="form-control searchbar" placeholder="Search" aria-label="Search" type="text"
            [(ngModel)]="searchTerm">
        </div>
      </div>
      <div class="row">
        &nbsp;&nbsp;
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-3" *ngFor="let ad of filteredAdDetails">
            <a href="/ad/{{ad.adId}}">
              <div class="row no-gutters">
                <div class="col sm-4">
                  <img src="{{ad.url}}" class="img" alt="profile image">
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      <strong> {{ad.adTitle}} </strong>
                    </h5>
                    <p class="category">{{ad.destination}} <br> {{ad.categoryType}} </p>
                    <hr>
                    <div class="stats">
                      <h5 style="color: #393E46;"> Price: LKR {{ad.price | number}}.00</h5>
                    </div>
                    <p class="card-text"><small class="text-muted">Last Updated {{ad.date | timeAgo}}</small></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
      <div class="row" *ngIf="!filteredAdDetails.length > 0">
        <div id="nodata">
          <div class="col-sm-12">
            <h2>No Matching Records Found</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>