.container-fluid{
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.sidebar{
    min-height: calc(100vh - 70px);
    background-color:#00ADB5;
    font-family: "Roboto", sans-serif;
    padding: 0;
    color: #FFFFFF;
    box-shadow: 2px 0 1px rgba(0, 0, 0, .15);
 }
.menu-title{
    font-weight: bold;
}

.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding-left: 2rem ;
    padding-bottom: 12px;
}
.nav-link{
    color: #FFFFFF;
}
.sidebar .nav .sub-menu .nav-item .nav-link{
    color: #FFFFFF;
}
.other{
     padding-left: 1.5rem;
}

.btn{
    color: #00ADB5;
    margin: 5px;
    padding: 10px;
}
.btn:hover{
    background-color: #00ADB5;
    color:#FFFFFF;
}
.btngo{
    color: #FFFFFF;
    margin: 5px;
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 5rem;
}
.btngo:hover{
    background-color: #FFFFFF;
    color:#00ADB5;
}
.searchbar{
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    width: 100%;
    margin: 0 0 20px 0;
}
.card{
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    border: none;
}
.card-title{
    margin: 0;
    color: #393E46;
    text-transform: capitalize;
    font-size: 30px;
}
a{
    text-decoration: none;
    background-color: transparent
 }
.category{
    font-size: 14px;
    font-weight: normal;
    color: #393E46;
    margin-bottom: 0px;
    padding-top: 1rem;
}
.img{
    margin: 40px;
    height: 12rem;
    width: 18rem;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h2{
    font-family: Raleway, sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: #D65A31;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.headings{
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
    z-index: -1;
}
.notfound{
    position: absolute;
    left: 50%;
    top: 170%;
    transform: translate(-50%,-50%);
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    margin-top: 150px;
}


