.container-fluid{
    background-color:#F2F6F5 ;
    height: 100%;
}
/* Main Panel */

.main-panel{
    background-color: #f4f3ef;
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
}
.content{
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}
.panel{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.category{
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}
.title{
    margin: 0;
    color: #252422;
    font-weight: 300;
}
.card{    
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.cardcontent{
    padding: 15px 15px 10px 15px;
}
.img{
    margin: 30px 0 30px;
    height: 245px;
}
.footer{
    padding: 20px 20px 0;
}

/* Side Bar */

@media (min-width: 992px){
    .nav-mobile-menu {
        display: none;
    }
}

.sidebar .off-canvas-sidebar{
    width: 260px;
    display: block;
    font-weight: 200;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-size: cover;
    background-position: center center;
}
.sidebar .sidebar-wrapper{
    position: relative;
    overflow: auto;
    width: 260px;
    z-index: 4;
    height: 100vh;
}
.sidebar .nav, .off-canvas-sidebar .nav{
    margin-top: 100px;
}
.nav{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav>li{
    position: relative;
    display: block;
}
.sidebar .nav li:not(.active) > a, .sidebar[data-background-color="white"] .nav li:not(.active) > a, .off-canvas-sidebar .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="white"] .nav li:not(.active) > a{
    color: #66615B;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a{
    margin: 10px 0px;
    padding-left: 25px;
    padding-right: 25px;
    opacity: .7;
}
.nav>li>a{
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    text-decoration: none;
}
.sidebar .nav p, .off-canvas-sidebar .nav p{
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.dropdown, .dropup{
    position: relative;
}
