.container-fluid{
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.sidebar{
    min-height: calc(100vh - 70px);
    background-color:#6EC6CA;
    font-family: "Roboto", sans-serif;
    padding: 0;
    color: #FFFFFF;
    box-shadow: 2px 0 1px rgba(0, 0, 0, .15);
 }
.menu-title{
    font-weight: bold;
}

.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding-left: 2rem ;
    padding-bottom: 12px;
}

.other{
     padding-left: 1.5rem;
}
.card-title{
    margin: 0;
    color: #110133;
    text-transform: capitalize;
    font-size: 30px;
}
a{
    text-decoration: none;
    background-color: transparent
 }
.btn{
    color: #08979D;
    margin: 5px;
    padding: 10px;
}
.btn:hover{
    background-color: #08979D;
    color:#FFFFFF;
}
.btngo{
    color: #FFFFFF;
    margin: 5px;
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 5rem;
}
.btngo:hover{
    background-color: #FFFFFF;
    color:#08979D;
}
.searchbar{
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    width: 100%;
    margin: 0 0 20px 0;
}
.card{
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    border: none;
}
.nav-link{
    color: #FFFFFF;
}
.sidebar .nav .sub-menu .nav-item .nav-link{
    color: #FFFFFF;
}
.category{
    font-size: 14px;
    font-weight: normal;
    color: #110133;
    margin-bottom: 0px;
    padding-top: 1rem;
}
.img{
    margin: 40px;
    height: 150px;
    width: 65%;
}