<div class="container-fluid">
  <div class="sidebar off-canvas-sidebar" data-background-color="white" data-active-color="danger">
  	<div class="sidebar-wrapper">
      <ul class="nav nav-mobile-menu">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="ti-panel"></i>
            <p>Stats</p>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="ti-bell"></i>
            <p class="notification">5</p>
            <p>Notifications</p>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Notification 1</a></li>
            <li><a href="#">Notification 2</a></li>
            <li><a href="#">Notification 3</a></li>
            <li><a href="#">Notification 4</a></li>
            <li><a href="#">Another notification</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="ti-settings"></i>
            <p>Settings</p>
          </a>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <a href="dashboard.html">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="user.html">
            <i class="ti-user"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="table.html">
            <i class="ti-view-list-alt"></i>
            <p>Table List</p>
          </a>
        </li>
        <li>
        
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid panel">
        <div class="row">
          <div class="col-md-6"> 
            <div class="card">
              <div class="cardcontent">
                <div class="img">

                </div>
              </div>
              <div class="footer">
                <h4 class="title">2015 Sales</h4>
                <p class="category">All products including Taxes</p>
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
                <hr>
                <div class="stats">
                  <i class="ti-check"></i> Data information certified
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="cardcontent">
                <div class="img">
                  
                </div>
              </div>
              <div class="footer">
                <h4 class="title">2015 Sales</h4>
                <p class="category">All products including Taxes</p>
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
                <hr>
                <div class="stats">
                  <i class="ti-check"></i> Data information certified
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="cardcontent">
                <div class="img">
                  
                </div>
              </div>
              <div class="footer">
                <h4 class="title">2015 Sales</h4>
                <p class="category">All products including Taxes</p>
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
                <hr>
                <div class="stats">
                  <i class="ti-check"></i> Data information certified
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="cardcontent">
                <div class="img">
                  
                </div>
              </div>
              <div class="footer">
                <h4 class="title">2015 Sales</h4>
                <p class="category">All products including Taxes</p>
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
                <hr>
                <div class="stats">
                  <i class="ti-check"></i> Data information certified
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>